    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="thumbnail"><img class="img-responsive" src="/assets/Logo1.jpg" alt=""></div>
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Welcome');"></div>
                <div class="carousel-caption">
                    <h2>to the Veterinary System App-UPC</h2>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail"><img class="img-responsive" src="/assets/Logo2.jpg" alt=""></div>
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=This is the home page');"></div>
                <div class="carousel-caption">
                    <h2>Veterinary System Application</h2>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail"><img class="img-responsive" src="/assets/Logo3.jpg" alt=""></div>
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=UPC');"></div>
                <div class="carousel-caption">
                    <h2>Desarrollo WEB</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
